{% extends isAdmin == 0
    ? '/layouts/main.twig'
    : '/layouts/mainAdmin.twig' %}
{% block title %} Войти {% endblock %}
{% block content %}
<div id="content">
    <div id="content">
        <form method="post">
            <input type="text" name="login" placeholder="Login" value="{{data.login}}">
            <input type="password" name="password" placeholder="Password" value="{{ data.password}}">
            <input type="submit" value="Войти">
        </form>
        <p style="color: red">{{ msg }}</p>
    </div>
</div>
{% endblock %}
